:root{
    --main-text-color: #5cadd3;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular.ttf') format('ttf'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*



GENERAL



*/
html{
    font-size: 100%;
    font-family: 'robotoregular', sans-serif;
}
body, h1{
    margin: 0;
}
.main-color{
    color: var(--main-text-color);
}
h2{
    font-size: 2rem;
    letter-spacing: -0.1rem;
}
h2, 
#portfolio > p,
#services > p{
    text-align: center;
}
.dropdown-content > a,
.carousel > .text-container >  .img-text,
.btn-slider,
#portfolio > li > label,
#submit-form,
.element > a
{
	text-decoration: none;
}
.divider,
.positionBlueCircle, 
#services > p, 
#portfolio > p, 
.services-container, 
#portfolio-navbar, 
.project-array, 
.form-container{
	margin: 0 auto;
}
.navbar-menu,
.feature-list,
#portfolio-navbar,
.project-array{
	list-style-type: none;
}
.project-container,
.navbar,
.carousel{
    width: 100%;
}
.description > div,
.carousel > .text-container > .img-text,
.carousel > label,
.btn-slider,
#submit-form{
    color: #fff;
}
.navbar,
.navbar-menu,
.divider,
.blue-circle,
.services-container,
.feature-list > li,
#portfolio-navbar,
.project-array,
.description,
.project-logo,
.dropdown
{
	display: flex;
}
.navbar,
.navbar-menu,
#portfolio-navbar,
.project-array
{
	flex-direction: row;
}
/* 



Navigation 



*/
.navbar{
    z-index: 99;
    height: 6rem;
    margin-bottom: 52px;
    position: fixed;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #fff;
    overflow:hidden;
    align-items: center;
}
.navbar-title, .element{
    margin-top: 20px;
}
.element > a{
    padding-right: 10px;
    padding-left: 10px;
    color: #000;
}
nav li a:hover, nav li a:active {
    padding-top: 33px;
    border-top: 4px solid var(--main-text-color);
}
#logo,
.dropdown,
.carousel,
.btn-slider{
    position:relative;
}
#logo{
    padding-left: 10%;
}
.dropbtn{
    margin: 0 auto;
    display: block;
    font-size: 1.3rem;
    background-color: #fff;
    border: none;
	padding-bottom: 4px;
}
.dropdown {
    padding-top: 10px;
    margin-bottom: 20px;
    width: 200px;
}
.dropdown-content {
    align-self: center;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1px 14px;
	padding-bottom: 10px;
    z-index: 99;
    margin-top: 5px;
	margin-bottom: 5px;
}
.dropdown-content > a {
    color: #000;
    padding: 5px;
}
.dropdown-content > a:hover {
	padding-bottom: 1rem;
    margin-bottom: -9px;
    background-color: var(--main-text-color);
    color: #fff;
    border-radius: 5px;
}
.dropdown:hover .dropdown-content {
    display: flex;
}
/*



CARROUSEL



*/
.text-container{
    position:absolute;
    left:50%;
    display: flex;
    width: 1200px;
}
.img-text{
    padding-top: 40px;
    position:relative;;
    left: -50%;
    margin-left: 20px;
}

#accueil{
    display: flex;
    justify-content: center;
    padding-top: 62px;	
    overflow: hidden;
}
#i1,#i2{
    display: none;
}
.carousel > text-container > .img-text{
	position:absolute;
    max-width: 600px;
    top: 30%;
    left: 12%;
    font-weight: bold;
}
.img-text > h2{
    text-align: left;
    margin-left: -2.2rem;
    line-height: 2.4rem;
    font-size: 2.5rem;
    margin-bottom: 0;
    transform: scale(0.9,1);
}
.btn-slider{
    top: 1rem !important;
	padding: 12px;
	background-color: var(--main-text-color);
    font-weight: bold;
    border-radius: 4px;
    border-bottom: 2px solid var(--main-text-color);
    box-shadow: 0 3px 0 0 #4494bb;
}
/*ACTIVE si screen < 480px*/
.btn-slider-small{
    margin: auto;
    border-radius: 4px;
    display: none;
    width: 100px;
    text-decoration: none;
    color: #fff;
    text-align: center;
	padding: 10px;
	background-color: var(--main-text-color);
    font-weight: bold;
}
.btn-slider:hover{
    animation-duration: 1s;
    animation-name: anim-btnSlider;
}
@keyframes anim-btnSlider{
    from{
        font-size: 1rem;
    }
    to{
        font-size: 1.2rem;
    }
}
.carousel > img {
    display:none;
    width:100%;
}
.carousel > input {
    position:absolute;
    left:-9999px;
}
.carousel > input:checked + label + img {
    display:block;
}

.carousel > label,
.carousel > input:checked ~ label ~ label ~ label ~ label{
    display:none;
}
.carousel > input:checked + label {
    display:block;
    left:0;
}
.carousel > input:checked ~ label ~ label ~ label {
    display:block;
    right: 0;
    
}
.carousel > label {
    position:absolute;
    top:47%;
    transition: .45s;
    cursor: pointer;
}
.carousel > label:hover{
    transition: .5s;
    font-size: 20px;
}
.fa-chevron-left{
    padding: 20px 20px 20px 7px;
    left:0;
    background: rgba(51,51,51,0.5);
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}
.fa-chevron-right{
    padding: 20px 7px 20px 20px;
    right: 0;
    background: rgba(51,51,51,0.5);
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}
.carousel > input:checked + label:after {
    left:0;
}
.carousel > input:checked ~ label ~ label ~ label:after {
    right:0;
}
/*



SERVICES



*/
.divider{
    position: relative;
    width: 150px;
    height: 2px;
    background-color: rgba(51,51,51,0.3);
    margin-bottom: 15px;
}
.blue-circle{
    height: 12px;
    width: 12px;
    background: var(--main-text-color);
    color: var(--main-text-color);
    border-radius: 50%;
    border: 3px solid #fff;
    top: -9px;
    opacity: 1;
}
.positionBlueCircle{
    position: absolute;
    left:0;
    right:0;
}
#services > p, #portfolio > p{
    max-width: 400px;
    padding-bottom: 50px;
}
.services-container{
    max-width: 1100px;
}
#logo-feature{
    max-height: 319px;
}
.feature-text{
    padding-bottom: 1rem;
}
.feature-text > p, .feature-text > h4{
    margin: 0.6rem;
    line-height: 1.4rem;
}
.circle-icon{
    margin-top: 1.8rem;
    margin-right: 0.6rem;
    width: 1.7rem;
    height: 1.7rem;
    padding: 1.7rem;
    border: 1px solid rgba(51,51,51,0.3);;
    border-radius: 50%;
}
.circle-icon > .blue-circle{
    margin-left: 2.85rem;
    margin-top: -1.4rem;
}
.service-icon{
    font-size: 1.7rem;
    margin-left: 3px;
    color: var(--main-text-color);
}
#services > p,
.feature-text{
    padding-bottom: 11px;
    padding-top: 11px;
}
/*



PORTFOLIO



*/
#portfolio{
    padding-top: 1px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
}
#portfolio-navbar{
    justify-content: center;
    padding: 10px;
}
#portfolio-navbar > li > label{
    background: rgba(177,187,191,0.3);
    color: #6f797d;
    padding: 15px;
    font-weight: bold;
}
#portfolio-navbar > li > label:hover{
    background: var(--main-text-color);
    color: #fff;
}
#portfolio-navbar > li:last-child > label{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#portfolio-navbar > li:first-child > label{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.arrow-down {
    position: relative;
    display: inline-block;
    width: 0px; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #468cad;
    top: 29px;
    left: -62%;
    margin-right: -20px;
}
.project-array{
    flex-wrap: wrap;
    max-width: 1100px;
    padding-top: 40px;
}
.project-array > li > a > img{
    max-width: 240px;
    height: auto;
}
.project-array > li {
    max-height: 155px;
    padding-bottom: 30px;
}
.description{
    opacity: 0;
    position: relative;
    top: -4.2rem;
    margin-left: 0.65rem;
    justify-content: center;
    max-width: 240px;
    background-color: rgba(0,0,0,0.4);
}
.project-logo{
    position: absolute;
    height: 28px;
    width: 28px;
    background: var(--main-text-color);
    color: var(--main-text-color);
    border-radius: 50%;
    border: 2px solid #fff;
    right:10px;
    top: -16px;
    opacity: 1;
}
.fa-eye{
    font-size: 0.70rem !important;
    display:flex;
    align-self: center;
    margin: 0 auto;
}
.description > div > h4, .description > div > p{
    letter-spacing: 0.01rem;
    line-height: 8px;
    font-size: 0.8rem;
}
.element:hover > .description{
    animation-duration: 2s;
    animation-name: anim-description;
}
@keyframes anim-description{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*


WORKING PROJECT NAV


*/
.project-container > .project-array > .element, #portfolio > input{
    display: none;
}
.arrow-down{
    visibility: hidden;
}
#r1:checked ~ #portfolio-navbar > .btn-1 > label,
#r2:checked ~ #portfolio-navbar > .btn-2 > label,
#r3:checked ~ #portfolio-navbar > .btn-3 > label,
#r4:checked ~ #portfolio-navbar > .btn-4 > label{
    background: var(--main-text-color) !important;
    color: #fff !important;
    font-weight: bold;
    box-shadow: 0 -3px 0 0 #468cad inset;
}
#r1:checked ~ #portfolio-navbar > .btn-1 > .arrow-down,
#r2:checked ~ #portfolio-navbar > .btn-2 > .arrow-down,
#r3:checked ~ #portfolio-navbar > .btn-3 > .arrow-down,
#r4:checked ~ #portfolio-navbar > .btn-4 > .arrow-down{
    visibility: visible;
}
#r1:checked ~ .project-container > .project-array > .element,
#r2:checked ~ .project-container > .project-array > .creative,
#r3:checked ~ .project-container > .project-array > .corporate,
#r4:checked ~ .project-container > .project-array > .portfolio-item{
    display: inline-block;
    margin: 0 auto;
}
/*


CONTACT


*/
iframe{
    opacity: 0.7;
    position: absolute;
}
.contact-container{
    position: relative;
    height: 600px;
    background-color: var(--main-text-color);
}
.form-container{
    max-width: 1100px;
    display: flex;
    justify-content: flex-end;
}
#contact-form{
    margin-right: 30px;
    margin-top: 30px;
    background: rgba(255,255,255,0.8);
    max-width: 300px;
    padding: 12px;
    border-radius: 7px;
    top: 80px;
    right: 20%;
    z-index: 3;
}
#contact-form > *{
    margin-left: 4px;
}
#contact-form > h4{
    font-size: 20px;
    margin-bottom: 19px;
    margin-top: 2px;
}
#contact-form > h6{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -8px;
    margin-top: -8px;
}
#contact-form > p{
    font-size: 12px;
    letter-spacing: 0.3px;
}
#contact-form > input, textarea{
    padding:  8px;
    width: 275px;
}
textarea{
    height: 100px !important;
}
#contact-form > input, #contact-form > textarea{
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    margin: 15px 0 0 4px;
}
#submit-form{
    padding: 7px;
	background-color: var(--main-text-color);
    font-weight: bold;
    border-radius: 4px;
    border: none !important;
    width: 120px !important;
    box-shadow: 0 3px 0 0 #4494bb;
}

/*


FOOTER


*/
footer{
    background-color: #f5f5f5;
    text-align: center;
    
    padding: 30px;
}

/*


GESTION RESPONSIVE



*/
@media screen and (max-width: 1200px){
    .arrow-down{
        top: 27px;
    }
    .text-container{
        justify-content: center;
        width:100%;
    }
}
@media screen and (max-width: 1000px){
    .project-array{
        width: 600px;
    }
    .carousel > .text-container >  .img-text{
        max-width: 550px;
    }
    
}
@media screen and (max-width: 600px){
    .project-array{
        width: 300px;
    }
    .description{
        top: -4.7rem;
    }
}
@media screen and (min-width:780px){
    .dropdown{
        display: none;
    }
}
@media screen and (max-width: 780px){
    /*
    
    
    
    GENERAL
    
    
    
    */
    p,h4{
        font-size:  1.35rem;
    }
    /*
    
    
    
    NAVBAR max-width: 780px
    
    
    
    */
    .navbar{
        height: 6.5rem;
    }
    .navbar-title,
    #logo{
        padding: 0;
    }
    .dropdown-content > a:hover ~ .dropbtn,
    .navbar-menu{
        display: none;
    }
    .dropdown{
        padding-top: 0;
    }
    #logo{
        width: 200px;
        height: auto;
        margin-top: 10px;
    }
    /*
    
    
    
    CAROUSEL max-width: 780px
    
    
    
    
    */
    #accueil{
        padding-top: 120px;
    }
    .img-text > *{
        margin: 0;
    }
    .img-text{
        padding-top: 20px;
    }
    .img-text > h2,
    .img-text > .main-color,
    .img-text > p
    {
        font-size: 1.4rem;
        letter-spacing:0.04rem;
    }
    .services-container > div:first-child{
        align-self: center;
    }
    .navbar-title,
    .dropdown,
    #contact-form{
        margin: 0 auto;
    }
    #logo-feature, .navbar{
        width: 100%;
        height: auto;
    }
    .navbar,
    .services-container,
    .dropdown{
        flex-direction: column;
    }
    .fa-chevron-left, .fa-chevron-right{
        margin-top: 50%;
    }
    .fa-chevron-left{
        padding: 10px 10px 10px 3px;
        border-bottom-right-radius: 60px;
        border-top-right-radius: 60px;
    }
    .fa-chevron-right{
        padding: 10px 3px 10px 10px;
        border-bottom-left-radius: 60px;
        border-top-left-radius: 60px;
    }
    .btn-slider{
        left: 100px;
        letter-spacing: 0px;
    }
    /*
    
    
    
    SERVICES max-width: 780px
    
    
    
    
    */
    #services > p,
    .feature-text{
        padding: 7px;
    }
    /*PORTFOLIO*/
    
    .project-array{
        padding: 30px 0;
    }
    .project-array > li{
        padding-bottom: 70px;
    }
    .project-array > li > a > img,
    .project-array > li > .description{
        max-width: 300px;
    }
    .description{
        top: -5.65rem;
    }
    .description > div > p,
    .description > div > h4{
        font-size: 1.2rem;
    }
    .arrow-down{
        top: 27px;
    }
    .project-logo{
        height: 35px;
        width: 35px;
        right: 18px;
    }
    .fa-eye{
        font-size: 0.90rem !important;
    }
    /*
    
    
    
    CONTACT max-width: 780px
    
    
    
    
    */
    iframe{
        position: relative;
    }
    #contact-form{
        position: relative;
        top: 14px;
        left: 0;
        background-color: rgb(234,233,224);
    }
    footer{
        margin-top: 500px;
    }
}
@media screen and (max-width: 540px){
    .img-text > h2,
    .img-text > .main-color,
    .img-text > p
    {
        font-size: 1rem;
    }
}
@media screen and (max-width: 480px){
    .navbar{
        margin: 0;
    }
    .btn-slider{
        width: 70px;
        left: 39%;
        text-align: center;
        padding: 5px !important;
    }
    .carousel > label {
        top: 30%;
    }
    .carousel > .text-container{
        left: 0;
        height: 100%; 
        background-color: rgba(0,0,0,0.6);
    }
    .carousel > .text-container > .img-text{
        padding-top: 10px;
        left: -1%;
    }
    .img-text > h2, 
    .img-text > p, 
    .btn-slider, 
    .main-color{
        word-spacing: 0rem;
        font-size: 0.85rem;
        margin: 0;
        line-height: 1rem;
    }
    #portfolio-navbar{
        flex-direction: column;
        align-items: center; 
    }
    #portfolio-navbar > li > label{
        padding: 15px 30px;
        background: none;
    }
    #portfolio-navbar > li{
        padding: 20px;
        background: rgba(177,187,191,0.3);
        width: 120px;
        text-align: center;
    }
    .img-text > h2, 
    .main-color{
        margin-top: .6rem;
        font-size: 0.8rem;
    }
    .img-text > p{
        width: 80%;
        margin-bottom: -0.2rem;
        margin-left: 1.3rem;
    }
    #portfolio-navbar > li > *{
        font-size: 0.8rem;
    }
    #logo-feature{
        width: 100%;
        height: auto;
    }
    .arrow-down {
        top: 32px;
        left: -65px;        
    }
    #portfolio-navbar > li > label{
       
    }
    .feature-list > li{
        flex-direction: column;
    }
    #r1:checked ~ #portfolio-navbar > .btn-1,
    #r2:checked ~ #portfolio-navbar > .btn-2,
    #r3:checked ~ #portfolio-navbar > .btn-3,
    #r4:checked ~ #portfolio-navbar > .btn-4{
        font-weight: bold;
        background: var(--main-text-color) !important;
        box-shadow: 0 -3px 0 0 #468cad inset;
    }
    #r1:checked ~ #portfolio-navbar > .btn-1 > label,
    #r2:checked ~ #portfolio-navbar > .btn-2 > label,
    #r3:checked ~ #portfolio-navbar > .btn-3 > label,
    #r4:checked ~ #portfolio-navbar > .btn-4 > label{
        box-shadow: none;
    }
    #portfolio-navbar > li:hover,
    #portfolio-navbar > li:hover > label{
    background: var(--main-text-color);
    color: #fff;
    }
    #portfolio-navbar > li:first-child{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#portfolio-navbar > li:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
    
}
@media screen and (max-width: 400px){
    

    .btn-slider{
        display: none;
    }
    .btn-slider-small{
        display: block;
    }
    #services{
        padding-top: 30px;
    }
}

